@use "@/assets/styles/common/constant.scss" as *;
@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

.log {
    width: 100%;
    border: 1px solid $theme-primary-dt;
    border-radius: $updatelog-card-radius;
    padding: $updatelog-card-padding;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px $theme-primary-shadow-lt;
    transition: all 0.3s ease;

    h3 {
        color: $theme-primary;
        font-size: 18px;
        margin: 25px 0 25px 0;
        position: relative;
    }



    .log-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $theme-primary;
        padding-bottom: 10px;
        margin-bottom: 15px;

        .version-title {
            font-size: 22px;
            font-weight: 700;
            color: $theme-primary;
        }

        .update-date {
            font-size: 14px;
            color: $theme-secondary-dark;
        }

    }

    .log-content {
        background-color: $theme-background;

        .update-list {
            list-style-type: none;
            padding-left: 0;

            li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 20px;
                color: $theme-font-dark;
                font-size: 15px;

                &::before {
                    content: '•';
                    position: absolute;
                    left: 0;
                    color: $theme-primary;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 1;
                }
            }

        }

    }

    .log-download {
        border-radius: 8px;
        width: 100%;
        margin: 0 auto;

        h4 {
            font-size: 18px;
            color: $theme-primary;
            /* 红色 */
            margin-bottom: 15px;
        }

        p {
            display: block;
            font-size: 14px;
            color: $theme-font-gray;
            margin: 10px 0;
        }

        .download-link {
            border-radius: 4px;

            color: $theme-secondary-light;
            font-weight: bold;
            transition: background-color 0.3s ease;

            &:hover {
                color: $theme-primary;
            }
        }
    }
}