@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

/* 导航栏样式 */
.updatelog-sidebar {
    position: fixed;
    width: $updatelog-sidebar-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // padding: $updatelog-sidebar-padding;
    box-shadow: 1px 0 3px $theme-shallow-shadow, -1px 0 3px $theme-shallow-shadow;

    h2 {
        font-size: 18px;
        color: $theme-primary;
        margin-bottom: 15px;
        border-bottom: 2px solid $theme-primary;
        padding-bottom: 5px;
    }

    .latest {
        padding: 30px 20px;
        flex-shrink: 0;
        /* 防止最新版本区域被压缩 */

        ul {
            list-style: none;
        }
    }

    .history {
        flex: 1;
        /* 让历史版本区域占据剩余空间 */
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        /* 确保底部有空间 */
        max-height: calc(100vh - 150px);
        /* 限制最大高度，确保不超出视窗 */

        h2 {
            margin: 0 20px;
            margin-bottom: 5px;
            flex-shrink: 0;
            /* 防止标题被压缩 */
        }

        ul.history-ul {
            list-style: none;
            height: 100%;
            /* 填充可用高度 */
            overflow-y: auto;
            /* 使列表可滚动 */
            margin: 0;
            padding: 0 0px 50px 0;
            /* 右侧留出滚动条空间，底部加大内边距 */

            li {
                margin: 10px 30px;
    
            }
        }
    }

    a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        background-color: $theme-secondary-lt;
        color: $theme-font-light;
        border-radius: 5px;
        transition: background 0.3s, transform 0.2s;
        text-align: center;
        font-size: 14px;

        &:hover {
            background-color: $theme-secondary-dark;
            transform: scale(1.05);
        }
    }
}