@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

/* 导航栏样式 */
.updatelog-sidebar {
    position: fixed;
    width: $updatelog-sidebar-width;
    height: 100%;
    padding: $updatelog-sidebar-padding;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 3px $theme-shallow-shadow, -1px 0 3px $theme-shallow-shadow;

    h2 {
        font-size: 18px;
        color: $theme-primary;
        margin-bottom: 15px;
        border-bottom: 2px solid $theme-primary;
        padding-bottom: 5px;

    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;

        li {

            margin-bottom: 10px;
        }

    }

    a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        background-color: $theme-secondary-lt;
        color: $theme-font-light;
        border-radius: 5px;
        transition: background 0.3s, transform 0.2s;
        text-align: center;
        font-size: 14px;

        &:hover {
            background-color: $theme-secondary-dark;
            transform: scale(1.05);
        }
    }


}
