@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

.input-box {
    width: 100%;
    max-height: $feedback-textarea-max-height;
    display: flex;
    flex-direction: column;
    padding: $feedback-textarea-padding;


    .preview-container {
        display: flex;
        gap: $feedback-preview-gap;
        margin-bottom: 10px;
        flex-wrap: wrap;

        .image-wrapper {
            position: relative;
            width: $feedback-preview-width;
            height: $feedback-preview-height;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                border: 1px solid $theme-font-light-gray;

                filter: grayscale(100%);
                mask-image: linear-gradient(to bottom, $theme-font-lgt 0%, $theme-font-dark 100%);
                -webkit-mask-image: linear-gradient(to bottom, $theme-background-gt 0%, $theme-font-dark 100%);
                transition: mask-image 1s ease-out, filter 1s ease-out;
            }

            .delete-btn {
                position: absolute;
                top: 5px;
                right: 5px;
                background-color: $theme-background-dark;
                color: $theme-font-light;
                border: none;
                border-radius: 50%;
                width: $feedback-preview-dtn;
                height: $feedback-preview-dtn;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: background-color 0.5s ease-in-out;

                .iconfont {
                    font-size: 10px;
                }

                &:hover {
                    background-color: $theme-background-dt;
                }
            }
        }
    }

    .chat-input-area {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: $feedback-input-padding;
        position: relative;
        border: 1px solid $theme-secondary-dark;
        max-height: $feedback-textarea-max-height;
        border-radius: $feedback-input-radius;

        width: 100%;
        transition: box-shadow 0.2s ease;

        &.focused {
            box-shadow: 0 0 7px $theme-primary-shadow;
        }

        textarea {
            width: 100%;
            max-height: $feedback-input-max-height;
            min-height: $feedback-input-min-height;
            overflow-y: auto;
            overflow: hidden;
            background-color: $theme-background;
            resize: none;
            font-family: $font-family;
            color: $theme-font-dark;
            border: none;
            font-size: 15px;
            outline: none;
            position: relative;

            &:focus::placeholder {
                color: transparent;
            }
        }
    }

    .upload {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 2px;
        font-size: 22px;

        button {
            width: $feedback-us-btn;
            height: $feedback-us-btn;
            border-radius: 50%;
            border: 1px solid $theme-secondary-dark;
            transition: 0.2s ease-in-out;
            background-color: $theme-primary-lt;

            &:hover {
                background-color: $theme-secondary-light;
            }
        }

        .upload-icon {
            position: relative;
            display: inline-block;
            cursor: pointer;


            /* 上传按钮的提示气泡 */
            &::after {
                content: $feedback-hover-text;
                /* 提示文本 */
                position: absolute;
                bottom: -20px;
                left: 120%;
                transform: translateX(-50%);
                background-color: $theme-primary-hover-dark;
                color: $theme-font-light;
                padding: 8px 12px;
                border-radius: 5px;
                font-size: 14px;
                display: none;
                /* 默认隐藏 */
                opacity: 1;
                transition: opacity 0.3s ease, transform 0.3s ease;
                white-space: nowrap;
                z-index: 1000;


            }

            &:hover::after {
                display: block;
                opacity: 1;
                transform: translateX(-50%) translateY(-10px);
                animation: slideIn 0.3s ease-in-out forwards, fadeOut 0.5s 1.2s forwards;
            }

        }

        /* 为发送按钮添加提示气泡样式 */
        #send-button {
            position: relative;
            display: inline-block;

            &::after {
                content: attr(data-tooltip);
                /* 提示文本 */
                position: absolute;
                bottom: -20px;
                right: 120%;
                transform: translateX(-50%);
                background-color: $theme-primary-hover-dark;
                color: $theme-font-light;
                padding: 8px 12px;
                border-radius: 5px;
                font-size: 14px;
                display: none;
                /* 默认隐藏 */
                opacity: 0;
                transition: opacity 0.3s ease, transform 0.3s ease;
                white-space: nowrap;
                z-index: 1000;
            }

            &:hover::after {
                display: block;
                opacity: 1;
                transform: translateX(-50%) translateY(-10px);
                animation: slideIn 0.3s ease-in-out forwards, fadeOut 0.5s 1s forwards;
            }


        }

        // 红色边框阴影呼吸灯效果
        .breathing-border {
            animation: breathing-border-shadow 1.5s ease-in-out infinite;
            ;
        }

    }


}

@media (max-width: 768px) {
    .input-box {
        .preview-container {
            .image-wrapper {
                width: 100px; // Adjust the width for smaller screens
            }
        }

        .chat-input-area {
            textarea {
                min-height: auto; // Allow the textarea to adjust its height dynamically on smaller screens
            }
        }
    }
}