@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

.feedback-select {
    width: 100%;
    padding: 10px;
    border: 1px solid $theme-primary;
    background-color: rgba($theme-primary, 0.05);
    max-width: 50%;
    animation: slideRight 0.3s ease-in-out;

    @media (max-width: 480px) {
        padding: 5px;
    }

    .message {
        margin-bottom: 5px;
        color: $theme-font-dark;
    }

    .select {
        p {
            color: $theme-font-dark;
            margin-bottom: 5px;
        }

        .select-option {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            button {
                padding: 8px 15px;
                background-color: $theme-primary;
                border: none;
                color: $theme-font-light;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: auto;
                white-space: nowrap;

                &:hover {
                    background-color: $theme-secondary;
                }


            }

            .active {
                background-color: $theme-secondary;
            }
        }
    }
}