@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;
@use "@/assets/styles/mixins/_common-mixins.scss" as *;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user-login {
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    padding: 30px;
    background-color: $theme-background-light;
    box-shadow: 0 10px 25px $theme-deep-shadow;
    animation: fadeUp 0.1s ease-out;

    .login-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        h4 {
            margin: 0;
            font-size: 16px;
            color: #666666;
            font-weight: 500;
        }

        .close-button {
            @include close-button
        }
    }

    .login-body {
        margin-bottom: 20px;

        .body-title {
            margin-bottom: 30px;

            h2 {
                font-size: 24px;
                text-align: center;
                color: $theme-font-gray;
                margin: 0;
                font-weight: 600;

                span {
                    color: $theme-primary;
                }
            }
        }

        .login-form {
            display: flex;
            flex-direction: column;
        }
    }

    .login-footer {
        .submit-button {
            @include submit-button;
            margin-bottom: 20px;
        }

        .footer-links {
            display: flex;
            justify-content: space-between;

            .link-button {
                background: none;
                border: none;
                color: #666666;
                font-size: 14px;
                cursor: pointer;
                padding: 0;
                transition: color 0.2s;

                &:hover {
                    color: $theme-secondary;
                }
            }
        }
    }
}
