@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

/* 弹框的遮罩层 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user-register {
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    padding: 30px;
    background-color: $theme-background-light;
    box-shadow: 0 10px 25px $theme-deep-shadow;
    transform: translateY(0);
    animation: fadeUp 0.1s ease-out;

    .register-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .header-left h4 {
            margin: 0;
            font-size: 16px;
            color: #666666;
            font-weight: 500;
        }

        .close-button {
            background-color: $theme-primary-dt;
            width: $assistant-dialog-close;
            height: $assistant-dialog-close;
            color: $theme-font-light;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.5s;

            &:hover {
                background: $theme-secondary;
            }

            .iconfont {
                font-size: 12px;
                font-weight: $font-weight;
            }
        }
    }

    .register-body {
        margin-bottom: 30px;

        .body-title h2 {
            font-size: 24px;
            text-align: center;
            color: $theme-font-gray;
            margin: 0 0 30px;
            font-weight: 600;

            span {
                color: $theme-primary;
            }
        }

        .body-form {
            .form-group {
                margin-bottom: 25px;
                position: relative;

                .form-label label {
                    font-size: 14px;
                    color: #555555;
                    font-weight: 500;
                    margin-bottom: 8px;
                    display: block;
                }

                .input-wrapper {
                    width: 100%;
                    display: flex;
                    position: relative;

                    input {
                        width: 100%;
                        height: 40px;
                        padding: 0 15px;
                        border: 1px solid $theme-secondary-light;
                        border-radius: 8px;
                        font-size: 14px;
                        color: $theme-font-dark;
                        letter-spacing: 0.5px;
                        background-color: $theme-background;
                        transition: all 0.3s;
                        padding-right: 40px;

                        &:focus {
                            outline: none;
                            border-color: $theme-primary-hover-dark;
                            box-shadow: 0 0 0 3px $theme-primary-hover;
                            background-color: $theme-font-light;

                            &::placeholder {
                                opacity: 0;
                                transition: opacity 0.2s ease;
                            }
                        }

                        &::placeholder {
                            color: #bbbbbb;
                            letter-spacing: normal;
                            transition: opacity 0.2s ease;
                        }
                    }

                    .iconfont {
                        position: absolute;
                        color: #bbbbbb;
                        cursor: pointer;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        // transition: all 0.2s ease-in-out;

                        &:hover {
                            color: $theme-secondary;
                        }

                        &.active {
                            color: $theme-primary;
                        }

                    }
                }

                .form-tip {
                    margin-top: 5px;
                    width: 100%;
                    color: #666666;
                    height: 20px; // 固定高度防止跳动

                    p {
                        font-size: 12px;
                        margin: 0;
                    }

                    &.error-tip {
                        opacity: 0;
                        color: #ff4d4f;
                    }

                    &.show {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .register-footer {
        .footer-submit button {
            width: 100%;
            height: 45px;
            background-color: $theme-primary;
            color: $theme-font-light;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $theme-secondary;
            }
        }
    }

}

.blink-name {
    animation: blinkOfInput 0.5s infinite;
}