@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;
@use "@/assets/styles/mixins/_common-mixins.scss" as *;

/* 弹框的遮罩层 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user-register {
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    padding: 30px;
    background-color: $theme-background-light;
    box-shadow: 0 10px 25px $theme-deep-shadow;
    transform: translateY(0);
    animation: fadeUp 0.1s ease-out;

    .register-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .header-left h4 {
            margin: 0;
            font-size: 16px;
            color: #666666;
            font-weight: 500;
        }

        .close-button {
            @include close-button
        }
    }

    .register-body {
        margin-bottom: 30px;

        .body-title h2 {
            font-size: 24px;
            text-align: center;
            color: $theme-font-gray;
            margin: 0 0 30px;
            font-weight: 600;

            span {
                color: $theme-primary;
            }
        }

        .register-form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    .register-footer {
        .footer-submit button {
          @include submit-button 
        }
    }

}

.blink-name {
    animation: blinkOfInput 0.5s infinite;
}

.slider-captcha-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}