@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;
@use "@/assets/styles/mixins/_tooltip-mixins.scss" as *;

.assistant-input {
    width: 100%;
    max-height: $assistant-textarea-max-height;
    display: flex;
    flex-direction: column;
    padding: $assistant-textarea-padding;

    .chat-input-area {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: $assistant-input-padding;
        position: relative;
        border: 1px solid $theme-secondary-dark;
        max-height: $assistant-textarea-max-height;
        border-radius: $assistant-input-radius;

        width: 100%;
        transition: box-shadow 0.2s ease;

        &.focused {
            box-shadow: 0 0 7px $theme-primary-shadow;
        }

        textarea {
            width: 100%;
            max-height: $assistant-input-max-height;
            min-height: $assistant-input-min-height;
            overflow-y: auto;
            overflow: hidden;
            resize: none;
            font-family: $font-family;
            color: $theme-font-dark;
            background-color: transparent;
            border: none;
            font-size: 15px;
            outline: none;
            position: relative;

            &:focus::placeholder {
                color: transparent;
            }
        }
    }

    .input-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 2px;
        font-size: 22px;

        .bottom-left {
            display: flex;
            gap: 7px;

            .new {
                background-color: transparent;
                border: none;
                font-size: 20px;
                @include tooltip($assistant-hover-new-text, left, 120%, bottom, -20px)
            }

        }

        #send-button {
            width: $assistant-us-btn;
            height: $assistant-us-btn;
            border-radius: 50%;
            border: 1px solid $theme-secondary-dark;
            transition: 0.2s ease-in-out;
            background-color: $theme-primary-lt;

            &:hover {
                background-color: $theme-secondary-light;
            }
        }

        .upload-icon {
            position: relative;
            display: inline-block;
            cursor: pointer;

            @include tooltip($assistant-hover-upload-text, left, 120%, bottom, -20px)
        }

        /* 为发送按钮添加提示气泡样式 */
        #send-button {
            position: relative;
            display: inline-block;

            @include tooltip(attr(data-tooltip), right, 120%, bottom, -20px)
        }

        // 红色边框阴影呼吸灯效果
        .breathing-border {
            animation: breathing-border-shadow 1.5s ease-in-out infinite;
            ;
        }

    }


}

@media (max-width: 768px) {
    .input-box {
        .preview-container {
            .image-wrapper {
                width: 100px;
            }
        }

        .chat-input-area {
            textarea {
                min-height: auto;
            }
        }
    }
}