@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

.assistant-message {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    align-items: flex-start;
    padding-top: 10px;
    z-index: 0;

    .avatar {
        width: $assistant-avatar-size;
        height: $assistant-avatar-size;
        border: 1px solid $theme-primary;
        border-radius: 50%;
        background-color: $theme-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $theme-background;
        font-weight: $font-weight;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.official {
        background-color: transparent;
        flex-direction: row-reverse;
        animation: fadeInUser 0.4s ease-in-out;
        padding: 0;

        .avatar {
            margin-left: 5px;
        }

        img {
            width: 100%;
            border-radius: 50%;
        }

        .message-content {
            // background: $theme-primary;
            background-color: $theme-background-light;
            color: $theme-font-light;
            border-color: $theme-primary;
            padding: $assistant-msg-padding;

            .content {
                width: 100%;
                font-size: 15px;
                color: $theme-font-light;
                color: $theme-font-dark;
                word-break: break-word;
                word-wrap: break-word;
            }

            .loadding {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.6rem;
            }
        }
    }

    &.user {
        flex-direction: row;
        animation: fadeInOfficial 0.4s ease-in-out;

        .message-wrapper {
            align-items: flex-start;
        }

        .message-content {
            background-color: $theme-background-light;
            // background: $theme-primary;
            color: $theme-font-light;
            border-color: $theme-primary;
            padding: 0.6rem;

            .content {
                width: 100%;
                font-size: 15px;
                color: $theme-font-light;
                display: flex;
                color: $theme-font-dark;
                white-space: pre-wrap;
                word-break: break-word;
                word-wrap: break-word;
            }
        }

        .avatar {
            background-color: $theme-background-gt;
            margin-right: 5px;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 0 3px 3px $theme-primary-lt, 0 0 2px $theme-primary-dt;
            }

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .message-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 65%;
    }

    .message-content {
        background: $theme-background;
        // border: 2px solid $theme-primary;
        border-radius: 7px;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .name {
        font-size: 13px;
        color: $theme-font-gray;
        margin-bottom: 5px;
        display: flex;
        justify-content: end;
    }

    .time {
        font-size: 10px;
        color: $theme-font-gray;
        margin-top: 5px;
        display: flex;
        justify-content: end;
    }

    .message-content-img {
        max-width: 100%;
        display: grid;
        padding-bottom: 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}