@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

@mixin display-layout($layout){
    display: flex;
    align-items: center;
    justify-content: center;
}
