@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;
@use "@/assets/styles/mixins/_common-mixins.scss" as *;

/* 弹框的遮罩层 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.community-dialog {

    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    width: 400px;
    height: 200px;
    background-color: $theme-background;
    border-radius: 10px;
    padding: 15px;

    .dialog-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid $theme-primary;

        .header-left {
            h3 {
                color: $theme-primary;
            }
        }


        .header-right {

            /* 关闭按钮 */
            .close-button {
               @include close-button
            }

        }
    }

    .dialog-body {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 10px;

        .body-icon {
            font-size: 35px;
        }

        .body-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            p {
                font-size: 16px;
                color: $theme-font-dark-gray;
            }
        }
    }

    .dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        button {
            padding: 8px 15px;
            font-weight: 550;
            border-radius: 5px;
            border: 1px solid $theme-primary;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }

        .cancel {
            color: $theme-font-light-gray;
            background-color: transparent;

            &:hover {
                border: 1px solid $theme-primary-hover-dark;
            }
        }

        .submit {
            color: $theme-font-light;
            background-color: $theme-secondary;

            &:hover {

                border: 1px solid $theme-primary-hover-dark;
                background-color: $theme-secondary-light;
            }
        }
    }

}