@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

.forum-message {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    width: 70%;

    // 头像样式
    .avatar {
        width: 40px;
        height: 40px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            border: 1px solid $theme-primary;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    // 消息主体
    .message {
        display: flex;
        flex-direction: column;
        flex-grow: 0;

        // 用户名容器
        .name-container {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 6px;


            .status {
                font-size: 12px;
                color: $theme-font-gray;
            }

            .name {
                font-size: 15px;
                font-weight: 600;
                color: $theme-font-gray;
            }
        }

        // 消息容器
        .message-container {
            border-radius: 7px;
            // background-color: $theme-secondary;
            background-color: $theme-background-light;
            display: inline-block;
            width: fit-content;
            padding: 10px;
            // border: 1px solid $theme-primary;


            .message-content {
                display: flex;
                align-items: center;
                justify-content: center;

                .text-img {
                    display: flex;
                    flex-direction: column;

                    .img {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                        gap: 10px;

                        img {
                            max-width: 100%;
                            height: auto;
                            border-radius: 10px;
                        }

                    }

                    .text {
                        width: 100%;
                        height: 100%;
                        white-space: pre-wrap;
                        color: $theme-font-dark-gray;
                    }

                }

            }

        }
    }
}

@media (max-width: 768px) {
    .forum-message {
        display: flex;
        gap: 12px;
        margin-bottom: 16px;
        width: 95%;
    }
}