@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;



.markdown-body {
    font-family: $font-family;
    line-height: 1.6;
    color: $theme-font-dark;
}

/* Headings */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: $theme-primary;
}

.markdown-body h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid $theme-font-lgt;
    padding-bottom: 0.5rem;
}

.markdown-body h2 {
    font-size: 2rem;
    border-bottom: 2px solid $theme-font-lgt;
    padding-bottom: 0.5rem;
}

.markdown-body h3 {
    font-size: 1.75rem;
}

.markdown-body h4 {
    font-size: 1.5rem;
}

.markdown-body h5 {
    font-size: 1.25rem;
}

.markdown-body h6 {
    font-size: 1rem;
    font-weight: 500;
}

/* Paragraphs */
.markdown-body p {
    margin-bottom: 1.25rem;
    color: $theme-font-dark;
    width: 100%;
}

/* Links */
.markdown-body a {
    color: $theme-primary;
    text-decoration: none;
    transition: color 0.3s ease;
}

.markdown-body a:hover {
    text-decoration: underline;
}

/* Lists */
.markdown-body ul,
.markdown-body ol {
    margin-bottom: 1.25rem;
    padding-left: 2rem;
}

.markdown-body ul li,
.markdown-body ol li {
    margin-bottom: 0.75rem;
}

/* Blockquotes */
.markdown-body blockquote {
    border-left: 4px solid $theme-primary;
    margin: 1.25rem 0;
    padding-left: 1rem;
    font-style: italic;
    color: $theme-font-light-gray;
    background-color: #f8f8f8;
}

/* Code Blocks */
.markdown-body pre {
    background-color: $theme-background-gt;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    overflow-x: auto;
    margin-bottom: 1.5rem;
    box-shadow: inset 0 1px 3px $theme-shallow-shadow;
}

.markdown-body code {
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    word-wrap: break-word;
    /* 自动换行 */
    word-break: break-word;
    /* 防止长单词或 URL 不换行 */
    font-family: $font-family;
    color: $theme-primary;
}

/* Images */
.markdown-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}

/* Tables */
.markdown-body table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.25rem 0;
}

.markdown-body table th,
.markdown-body table td {
    padding: 0.75rem;
    border: 1px solid $theme-font-light;
    text-align: left;
}

.markdown-body table th {
    background-color: $theme-font-light;
    font-weight: 600;
}

/* Horizontal Rules */
.markdown-body hr {
    border: none;
    border-top: 2px solid $theme-font-light;
    margin: 2rem 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .markdown-body {
        padding: 1rem;
        margin-left: 0px;
    }

    .markdown-content {
        margin-left: 0px;
    }

    .pn-page {
        padding: 0 0;
    }

    .markdown-body h1 {
        font-size: 2rem;
    }

    .markdown-body h2 {
        font-size: 1.75rem;
    }

    .markdown-body h3 {
        font-size: 1.5rem;
    }

    .markdown-body code {
        font-size: 0.9rem;
    }

    .markdown-body pre {
        font-size: 0.9rem;
        padding: 0.75rem;
    }
}