@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;

.markdown-outline {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border-left: 1px solid $theme-primary;
        padding: $document-sidebar-ul-padding;
        font-size: $document-sidebar-fontsize;

        li {
            padding: 0.3rem;
            color: rgb(87, 83, 83);
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $theme-primary;
                cursor: pointer;
            }

            &.active {
                color: $theme-primary;
            }
        }

    }
}