@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;

.markdown-page {
    height: $document-page-height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: $document-page-margin;

    .pre-page,
    .next-page {
        width: 350px;
        border: 1px solid $theme-font-light-gray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;
        justify-content: center;
        padding: 0 15px;
        transition: border-color 0.3s ease;

        &:hover {
            border: 1px solid $theme-primary;
            cursor: pointer;
        }
    }

    .pre-page {
        margin-right: $document-page-lr-margin;
    }

    .next-page {
        margin-left: $document-page-lr-margin;
    }

    /* 子元素样式调整 */
    .pre {
        color: $theme-primary;
        font-weight: $font-weight;
        display: flex;
        align-items: center;
        /* 垂直居中 */
        justify-content: flex-start;
        /* 水平靠左 */
        width: 100%;
        /* 占满父容器宽度 */
    }

    .next {
        color: $theme-primary;
        font-weight: $font-weight;
        display: flex;
        align-items: center;
        /* 垂直居中 */
        justify-content: flex-end;
        /* 水平靠右 */
        width: 100%;
        /* 占满父容器宽度 */
    }

}

/* 隐藏状态（保持布局一致） */
.hidden {
    visibility: hidden;
    pointer-events: none;
}