@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

/* 侧边栏容器 */
.sidebar {
    overflow-y: auto;
    z-index: 10;
    transition: all 0.1s ease;
    position: relative;
    background-color: $theme-background-lt;


    .sidebar-nav {
        padding: 20px;

        h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
            padding-bottom: 10px;
            color: $theme-primary;
            border-bottom: 2px solid $theme-primary;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            /* 一级菜单样式 */
            li {
                margin-bottom: 5px;

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: $document-sidebar-li-padding;
                    color: $theme-font-dark;
                    text-decoration: none;
                    border-radius: 8px;
                    transition: all 0.3s ease;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 16px;
                    position: relative;

                    .iconfont {
                        margin-left: auto;
                        font-size: 14px;
                        transition: transform 0.3s ease;

                        &.rotate {
                            transform: rotate(90deg);
                        }
                    }

                    &:hover {
                        background-color: $theme-primary-lt;
                        color: $theme-primary-light;
                    }

                    &.active {
                        color: $theme-primary-light;
                        font-weight: $font-weight;
                    }

                    // &::before {
                    //     font-size: 20px;
                    //     color: $theme-font-light-gray;
                    //     transition: transform 0.3s ease;
                    // }

                    // &.open::before {
                    //     transform: rotate(180deg);
                    // }
                }

                /* 展开状态 */
                &.open>.nav-submenu {
                    display: block;
                }


            }

            /* 二级菜单样式 */
            .nav-submenu {
                list-style: none;
                padding: 0;
                margin: 0;
                padding-left: 20px;
                display: none;

                li {
                    a {
                        display: block;
                        padding: 8px 15px;
                        color: $theme-font-dark;
                        text-decoration: none;
                        border-radius: 8px;
                        font-size: 14px;
                        font-weight: 500;
                        transition: all 0.3s ease;
                        position: relative;

                        &:hover {
                            background-color: $theme-primary-hover;
                            color: $theme-secondary;
                        }

                        &.active {
                            color: $theme-primary-dark;
                            font-weight: bold;
                            border-left: 2px solid $theme-primary-dark;
                            padding-left: 11px;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}