@use "_theme.scss" as *;

// 通用颜色
$shadow-color: rgba(0, 0, 0, 0.1); // 盒子阴影
$nav-shadow-color: rgba(0, 0, 0, 0.1); // 导航栏阴影
$hover-line-color: $theme-hover-line; // 统一 hover 下划线颜色

// 按钮颜色
$introduce-button-hover: rgba(0, 0, 0, 0.2); // 按钮 hover 颜色
$introduce-button-border: $theme-border; // 按钮边框
