// 主色调变量（可随主题切换）
$theme-primary: #b22222; // 主要主题色（深红）
$theme-primary-light: #d62727; // 比主要颜色更鲜艳亮一些
$theme-primary-dark: #8b1a1a; // 比主要颜色更暗淡一些

$theme-primary-lt: #b2222233; // 比主要颜色更鲜艳透明一些
$theme-primary-dt: #9e1e1e55; // 比主要颜色暗一些透明一些

$theme-secondary: #c04040; // 次要主题色
$theme-secondary-light: #d15555; // 和次要颜色接近的颜色
$theme-secondary-dark: #a83232; // 比次要颜色深一些
$theme-secondary-lt: #c0404066; // 次要颜色透明些的颜色

$theme-primary-hover: #b2222220; // 比主色调浅些透明些的hover颜色
$theme-primary-hover-dark: #a31c1c74; // 比主色调深些透明些的hover颜色

$theme-primary-shadow: #b72e2ec1; // 和主色接近的边框阴影颜色
$theme-primary-shadow-lt: #c24a4a48; // 和主色接近的更浅透明边框阴影颜色
$theme-shallow-shadow: rgba(0, 0, 0, 0.2); // 浅阴影颜色
$theme-deep-shadow: rgba(0, 0, 0, 0.4); // 深阴影颜色

$theme-background: #1e1e1e; // 深色背景颜色
$theme-background-light: #292929; // 浅黑
$theme-background-lt: #1e1e1e66; // 深色透明背景
$theme-background-dark: rgba(18, 18, 18, 0.8); // 深黑背景
$theme-background-dt: rgba(40, 40, 40, 0.6); // 黑色透明背景
$theme-background-gt: #3a3a3a1f; // 带灰度透明的背景

$theme-border-gray: rgba(180, 180, 180, 0.2);

// 文字颜色
$theme-font-light: rgb(255, 255, 255); // 亮色字体
$theme-font-dark: rgb(200, 200, 200); // 深灰色
$theme-font-gray: rgb(160, 160, 160); // 中灰色
$theme-font-light-gray: #a19e9ea1; // 亮灰透明
$theme-font-lgt: #9c9c9c38; // 亮灰更透明

// 主页渐变背景颜色
$theme-gradient-background-first: #a31c1c;
$theme-gradient-background-second: #b02a2a;
$theme-gradient-background-third: #c84040;
$theme-gradient-background-fourth: #9b2323;

// 功能展示背景
$theme-detail-background: #2a2a2a; // 功能展示区域背景
$theme-img-background: #343434; // 图片背景

// 展示卡片颜色
$theme-card-background: #222222; // 卡片背景

//下载安装界面卡片颜色
$download-card-background: #ff78786d; //暗色系下比下载渐变背景最浅颜色亮些透明些，亮色系下为展示卡片颜色
//下载安装界面打字机文本
$download-typing-text:#df2323e0;//暗色系下比主要颜色亮些鲜艳些透明些，亮色系和主要色一样
// 下载渐变背景
$dynamic-background-first: #922626;
$dynamic-background-second: #a83636;
$dynamic-background-third: #b94848;
$dynamic-background-fourth: #c25757;

// 下载卡片 hover 阴影
$download-card-hover-shadow: rgba(160, 50, 50, 0.8);

// 使用文档界面侧边栏背景
$document-sidebar-background: hsl(0, 0%, 15%); // 深灰色背景

// 意见反馈界面聊天窗口呼吸边框动画
$feedback-chat-shadow-light: rgba(180, 50, 50, 0.8);
$feedback-chat-shadow-medium: rgba(160, 40, 40, 0.8);
$feedback-chat-shadow-dark: rgba(140, 30, 30, 0.8);
$feedback-chat-shadow-darker: rgba(120, 25, 25, 0.8);
$feedback-chat-shadow-darkest: rgba(100, 20, 20, 0.8);
$feedback-chat-shadow-soft: rgba(180, 50, 50, 0.5);
$feedback-chat-shadow-moderate: rgba(160, 40, 40, 0.5);
$feedback-chat-shadow-deep: rgba(140, 30, 30, 0.5);
$feedback-chat-shadow-deeper: rgba(120, 25, 25, 0.5);
$feedback-chat-shadow-deepest: rgba(100, 20, 20, 0.5);

// 修改用户信息窗口闪烁动画颜色变量
$theme-dialog-shadow-light: rgba(180, 50, 50, 0.42);
$theme-dialog-shadow-medium: rgba(160, 40, 40, 0.393);