// 主色调变量（可随主题切换）
$theme-primary: #4caf50; // 主要主题色
$theme-primary-light: #81c784; //比主要颜色再鲜艳一些亮一些的颜色
$theme-primary-dark: #388e3c; //比主要颜色再暗淡一些暗一些的颜色

$theme-primary-lt: #4caf502a; //比主要颜色再鲜艳一些透明一些的颜色
$theme-primary-dt: #388e3c4f; //比主要颜色暗一些透明一些的颜色

$theme-secondary: #a5d6a7; // 次要主题色
$theme-secondary-light: #c8e6c9; //和次要颜色接近的颜色
$theme-secondary-dark: #81c784; //比次要颜色深一些的颜色
$theme-secondary-lt: #a5d6a76b; //次要颜色透明些的颜色


$theme-primary-hover: #4caf5020; // 比主色调浅些透明些的hover颜色
$theme-primary-hover-dark: #388e3c74; //比主色调深些透明些的hover颜色

$theme-primary-shadow: #66bb6ac1; //和主色接近的边框阴影颜色
$theme-primary-shadow-lt: #81c78448; //和主色接近的更浅透明边框阴影颜色
$theme-shallow-shadow: rgba(0, 0, 0, 0.1); //浅阴影颜色
$theme-deep-shadow: rgba(0, 0, 0, 0.2); //中阴影颜色

$theme-background: #ffffff; //白色背景颜色
$theme-background-light: #f8f8f8; //浅白
$theme-background-lt: #ffffff66;
$theme-background-dark: rgba(48, 48, 48, 0.705); //暗黑色背景
$theme-background-dt: rgba(78, 78, 78, 0.434); //黑色有透明背景
$theme-background-gt: #bcbcbc1f; //有一定灰度透明的背景

$theme-border-gray: rgba(112, 112, 112, 0.374);

// 文字颜色
$theme-font-light: rgb(255, 255, 255); // 文字主色
$theme-font-dark: rgb(45, 45, 45); // 黑色
$theme-font-gray: rgb(108, 107, 107); //灰色
$theme-font-light-gray: #726d6da1; //亮灰透明
$theme-font-lgt: #9c9c9c38; //亮灰更透明


//主页渐变背景颜色
$theme-gradient-background-first: rgba(76, 175, 80);
$theme-gradient-background-second: rgba(129, 199, 132);
$theme-gradient-background-third: rgba(165, 214, 167);
$theme-gradient-background-fourth: rgba(200, 230, 201);

//功能展示背景
$theme-detail-background: #f8f8f8; //功能展示区域背景
$theme-img-background: #f0f0f0; //图片背景

//展示卡片颜色
$theme-card-background: white;

//下载安装界面卡片颜色
$download-card-background: white; //暗色系下比下载渐变背景最浅颜色亮些透明些，亮色系下为展示卡片颜色
//下载安装界面打字机文本
$download-typing-text: #4caf50; //暗色系下比主要颜色亮些鲜艳些透明些，亮色系和主要色一样

//下载渐变背景
$dynamic-background-first: #81c784; // 第一个颜色
$dynamic-background-second: #c8e6c9; // 第二个颜色
$dynamic-background-third: #e8f5e9; // 第三个颜色
$dynamic-background-fourth: #a5d6a7; // 第四个颜色

//下载卡片hover阴影
$download-card-hover-shadow: rgba(129, 199, 132, 0.8);

//使用文档界面侧边栏背景
$document-sidebar-background: hsl(0, 0%, 100%);

//意见反馈界面聊天窗口呼吸边框动画
// 呼吸边框动画颜色变量
$feedback-chat-shadow-light: rgba(255, 255, 255, 0.8); // 最亮的呼吸边框阴影颜色
$feedback-chat-shadow-medium: rgba(230, 255, 230, 0.8); // 稍浅的呼吸边框阴影颜色
$feedback-chat-shadow-dark: rgba(200, 255, 200, 0.8); // 中等亮度的呼吸边框阴影颜色
$feedback-chat-shadow-darker: rgba(150, 255, 150, 0.8); // 略深的呼吸边框阴影颜色
$feedback-chat-shadow-darkest: rgba(102, 255, 102, 0.8); // 最暗的呼吸边框阴影颜色
$feedback-chat-shadow-soft: rgba(255, 255, 255, 0.5); // 最亮的柔和阴影
$feedback-chat-shadow-moderate: rgba(230, 255, 230, 0.5); // 稍浅的柔和阴影
$feedback-chat-shadow-deep: rgba(200, 255, 200, 0.5); // 中等深度的柔和阴影
$feedback-chat-shadow-deeper: rgba(150, 255, 150, 0.5); // 略深的柔和阴影
$feedback-chat-shadow-deepest: rgba(102, 255, 102, 0.5); // 最深的柔和阴影

//修改用户信息窗口闪烁动画颜色变量
// 定义颜色变量
$theme-dialog-shadow-light: rgba(76, 175, 80, 0.42); // 较浅的绿色阴影
$theme-dialog-shadow-medium: rgba(76, 175, 80, 0.393); // 中等深度的绿色阴影