@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_theme.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  background: $theme-background;
  display: flex;
  position: relative;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: $scroll-size;
  height: $scroll-size; // 设置横向滚动条的高度，使其与纵向滚动条一致
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $theme-secondary;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: $theme-font-light;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: $theme-secondary-light;
  -webkit-border-radius: 6px;
}

/* 设置滚动条在hover状态下的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: $theme-primary-dark;
}