@use "@/assets/styles/common/constant.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_theme.scss" as *;

.detail-card {
    max-width: $max-width;
    margin: 0 auto;
    margin-top: $detail-card-margin-top;
    margin-bottom: $detail-card-margin-bottom;
    background: $theme-card-background;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 10px 30px $theme-shallow-shadow;
    position: relative;
    color: $theme-font-dark;
    z-index: 2;

    /* 设置较高的 z-index */

    h3 {
        color: $theme-primary;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
            font-size: 2rem;
        }
    }

    .detail-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    .detail-text {
        line-height: 1.6;
    }

    .detail-image {
        width: 100%;
        height: 300px;
        background: $theme-img-background;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}