@use "@/assets/styles/common/constant.scss" as *;
.detail-card {
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0;
    background: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
 
    /* 设置较高的 z-index */

    h3 {
        color: $primary-color;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
            font-size: 2rem;
        }
    }

    .detail-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    .detail-text {
        line-height: 1.6;
    }

    .detail-image {
        width: 100%;
        height: 300px;
        background: #f0f0f0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

