@use "@/assets/styles/common/constant.scss" as *;
.feature-card {
    padding: 2rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }
}

.feature-icon {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 1rem;
}