@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_theme.scss" as *;

.feature-card {
    padding: $feature-card-padding;
    border-radius: 10px;
    background: $theme-card-background;
    box-shadow: 0 5px 15px $theme-shallow-shadow;
    transition: transform 0.3s;
    color: $theme-font-dark;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }
}

.feature-icon {
    font-size: 2rem;
    color: $theme-primary;
    margin-bottom: 1rem;
}