@use "@/assets/styles/common/_theme.scss" as *;
@use "@/assets/styles/common/_variable.scss" as *;
@use "@/assets/styles/common/_animation.scss" as *;

.introduce {
    padding-top: 85px;
    position: relative;
    /* 相对定位以放置 canvas */
    overflow: hidden;
    /* 确保 canvas 不超出区域 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $theme-font-light;

    .aoyukmt-ico {
        z-index: 1;

        img {
            width: $img-size-medium;
            height: $img-size-medium;
        }

    }

    /* 设置 canvas 全屏覆盖 */
    #backgroundCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // z-index: -1;
        background: $gradient-background;
        background-size: 300% 300%;
        animation: vibrantGradient 8s ease infinite;
    }


    .introduce-content {
        z-index: 1;
        /* 保证内容显示在 canvas 之上 */
        max-width: $max-width;
        text-align: center;
        padding: 2rem;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        animation: fadeInDown 1s;
    }

    h2 {
        font-size: 3rem;
        animation: fadeInDown 1s;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
        animation: fadeIn 1s 0.5s both;
    }

    .download-btn {
        background: $theme-font-light;
        color: $theme-primary;
        user-select: none; /* 禁用文本选择 */
        border: none;
        padding: 1rem 2rem;
        border-radius: 50px;
        text-decoration: none;
        font-weight: bold;
        transition: transform 0.3s, box-shadow 0.3s;
        display: inline-block;
        animation: fadeInUp 1s 1s both;

        &:hover {
            transform: translateY(-3px);
            cursor: pointer;
            box-shadow: 0 5px 15px $theme-deep-shadow;
        }
    }

    .floating {
        animation: floating 3s ease-in-out infinite;
    }

    /* 向下箭头样式 */
    .scroll-down {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeIn 2s 0.2s both;

        span {
            font-size: 1rem;
            color: $theme-font-light;
            animation: floating 3s ease-in-out infinite;
        }
    }
}